texmf/doc/latex/tuddesign/TUDthesis.dvi
texmf/doc/latex/tuddesign/TUDthesis.synctex.gz
texmf/doc/latex/tuddesign/TUDthesis.log
texmf/doc/latex/tuddesign/TUDthesis.aux
texmf/doc/latex/tuddesign/TUDthesis.bcf
texmf/doc/latex/tuddesign/TUDthesis.lof
texmf/doc/latex/tuddesign/TUDthesis.run.xml
texmf/doc/latex/tuddesign/TUDthesis.toc
chess-annotations.arff
*.out
*.lot
*.blg
*.bbl
*.pgi
*.ini
files/chessbasedb.pgn
*.log
texmf/doc/latex/tuddesign/TUDreport-fig.pdf
tokenizer-tests/
*.gz
*.arff
files/pgn/chessbasedb.pgn
